* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    min-width: 0px;
}

nav {
    height: 55px;
    position: relative;
    /* margin: 0 auto; */
    /* justify-content: center; */
    background: #F55A5A;
    margin-bottom: 32px;
    display: flex;
}

.nav-centered {
    /* float: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.globe-icon {
    font-size: 24px;
    padding: 7px;
    color: #FFFFFF;
    /* display: inline-block; */
}

.nav-title {
    height: 16px;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
    /* display: inline-block; */
}

section {
    padding: 20px;
}

.card {
    font-size: 12px;
    display: flex;
    padding: 18px 40px 18px 40px;
    align-items: center;
    justify-content: center;
    /* min-width: 400px; */
    /* flex-wrap: nowrap; */
}

.card-img-container {
    min-width: 300px;
    height: 168px;
    display: flex;
    flex: 1;
    margin-right: 19px;
    justify-content: center;
}

.card-img {
    height: 100%;
    border-radius: 5px;
}

.card-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 400px;
}

.card-location-info {
    align-items: center;
    display: flex;
    margin-bottom: 13px;
}

.location-pin {
    font-size: 9px;
    color: #F55A5A;
    margin-right: 4px;
}

.location {
    font-weight: 400;
    font-size: 10.24px;
    /* line-height: 12px; */
    letter-spacing: 0.17em;
    color: #2B283A;
    margin-right: 12px;
}

.maps-link {
    font-weight: 400;
    font-size: 10.24px;
    /* line-height: 12px; */
    text-decoration-line: underline;
    color: #918E9B;
}

.maps-link:hover {
    font-size: 12px;
    color: #918E9B;
}

.card-body {
    /* min-width: 500px; */
    display: flex;
    flex-direction: column;

}

.card-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    flex: 1 1 auto;
}

.card-date {
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
    margin-top: 20px;
    flex: 1 1 auto;
}

.card-description {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
    flex: 3 1 auto;
    min-width: 0;
}

.line {
    width: 90%;
    height: 0px;
    left: 40px;
    top: 286px;
    border: 1px solid #F5F5F5;
}

@media (max-width: 800px) {
    
    .card {
        flex-direction: column;
        font-size: 12px;
        display: flex;
        /* padding: 18px 40px 18px 40px; */
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card-img-container {
        /* min-width: 300px; */
        height: 250px;
        display: flex;
        flex: 0 0 auto;
        margin: 0 0 19px 0;
        justify-content: center;
    }

    .card-img {
        height: 100%;
        border-radius: 5px;
        flex: 0;
    }

    .card-body {
        /* min-width: 500px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .card-description {
        font-weight: 400;
        font-size: 10.24px;
        line-height: 150%;
        color: #2B283A;
        flex: 0 2 auto;
        width: 90%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    html, body {
        overflow-x: hidden;
    }
    
    .card {
        flex-direction: column;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        
    }

    .card-img-container {
        /* min-width: 300px; */
        /* height: 150px; */
        display: flex;
        flex: 0 1 auto;
        margin: 0 0 19px 0;
        justify-content: center;
    }

    .card-img {
        height: 100%;
        border-radius: 5px;
        flex: 0 1 auto;
    }

    .card-body {
        /* min-width: 500px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
    }

    .card-description {
        font-weight: 400;
        font-size: 10.24px;
        line-height: 150%;
        color: #2B283A;
        flex: 0 2 auto;
        width: 80%;
        text-align: center;
    }
  }